
<div class="idices" class="container">
<div class="row " style="padding-top:40px;">
    <h3 class="text-center" >WILL PLAY YOUR REQUESTS </h3>

  
 <div ui-view="youtubeview"></div>

    <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
               PLAYLIST
            </div>
            <div class="panel-body">
                <ul class="media-list">
                  
                    <li class="media">

	                    <div class="media-body">

	                        <div class="media" style="font-color:white;" ng-repeat="videos in lists track by $index">{{videos}} <button type="button" class="btn btn-danger" ng-click="delete(videos)"> delete </button>
	                            <a class="pull-left" href="#">
	                                <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif"/>
	                            </a>
	                            
	                        </div>

	                    </div>
	                </li>
	            </ul>
                </div>
            </div>
        
    </div>

    
</div>
  </div>

