<div>
	<youtube-video video-id="theBestVideo" player="letzchangeplay" player-vars="playervars"></youtube-video>
    
     <div>
     	<button ng-click="letzchangeplay.playVideo()">Play </button>
        <button ng-click="letzchangeplay.pauseVideo()">Pause </button>
         <button ng-click="letzchangeplay.stopVideo()">stop</button>
         <button ng-click="letzchangeplay.seekTo(25,true)">Playforward 25 </button>
  </div>
 <div>
 	<button ng-click="letzchangeplay.mute()">Mute </button>
    <button ng-click="letzchangeplay.unMute()">UnMute </button>
    <button ng-click="letzchangeplay.setVolume(30)">Volume 30 </button>
 </div>
   

</div>